<% layout("/layouts/boillerplate.ejs") %>
 <div class="row mt-2">
   <div class="col-7 offset-2">

    <h3><%= listing.title %></h3>

    <div class="card listing-card">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing-img">
  <div class="card-body">
    <p class="card-text">
        <%= listing.description %> <br>
        &#8377;<%= listing.price%> <br>
        <%= listing.location %> <br>
        <%= listing.country %>  
    </p>
  </div>
    </div>

    <div class="btns">
      
      <div class="col- offset-1" style="margin-right: 20px;">
       <a type="button" href="/listings/<%= listing._id %>/edit" class="btn btn-dark edit-btn">Edit </a>
       </div>

      <div>
        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
          <button class="btn btn-dark  ">Delete </button>
        </form>
      </div>
  </div><br>
 </div>
    
   <div class="col-8 offset-2">
    <hr>
    <h4>Leave a review</h4>
    <form method="post" action="/listings/<%= listing._id %>/reviews" novalidate class="needs-validation">
      <div>
      <label for="rating" class="form-label">Rating</label>
      <input type="range" min="1" max="5" id="rating" name="review[rating]"  class="form-range">
    </div>
    <div><br>
      <label for="comment" class="form-label">Comments :</label>
      <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
      <div class="invalid-feedback"> Please add a comment for review </div>  
    </div> <br>
    <button class="btn btn-outline-dark">Submit</button>
    </form><br>
    <hr>
    <p><b>All reviews :</b></p>

      <div class="row">
      <% for(let review of listing.reviews) {%>
        <div class="card col-5 mb-2 ms-2">
            <div class="card-body">
              <h5 class="card-title"><b> Roshan </b></h5>             
               <p class="card-text"> <%= review.comment %> </p>
              <p class="card-text"> <b><%= review.rating%> /star</b> </p>
            </div>
            
            <div class="mb-2">
            <form method="post" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
              <button class="btn btn-sm btn-dark"> Delete </button>
            </form>
          </div>
        </div>
        <% } %>
      </div>
     
   </div>
</div>
